@import "tailwindcss";
@import "tw-animate-css";

/* Dark Mode */
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #b4272c;

  --color-neut-50: #f4f4f4;
  --color-neut-100: #e8e8e8;
  --color-neut-200: #d2d2d1;
  --color-neut-300: #bbbbb9;
  --color-neut-400: #a4a4a2;
  --color-neut-500: #8e8e8b;
  --color-neut-600: #777774;
  --color-neut-700: #5f5f5d;
  --color-neut-800: #414141;
  --color-neut-900: #30302f;

  --color-success: #00b97d;
  --color-error: #f0143e;
  --color-warning: #f2c417;
  --color-info: #156dad;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* shadcn */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #b4272c;
  --color-secondary: var(--color-neut-200);
  --color-accent: var(--color-neut-50);
  --color-border: var(--color-neut-300);
  --color-ring: #b4272c;
  --color-success: var(--color-success);
  --color-error: var(--color-error);
  --color-warning: var(--color-warning);
  --color-info: var(--color-info);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --primary: #b4272c;
  --primary-foreground: white;

  --secondary: var(--color-neut-200);
  --accent: var(--color-neut-50);
  --muted: var(--color-neut-100);
  --border: var(--color-neut-300);
  --ring: #b4272c;
  --destructive: var(--color-error);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --primary: #ff5c5c;
  --primary-foreground: white;

  --secondary: var(--color-neut-700);
  --accent: var(--color-neut-800);
  --muted: var(--color-neut-700);
  --border: var(--color-neut-800);
  --ring: #b4272c;
  --destructive: var(--color-error);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
#__next {
  overflow-x: hidden;
}

/* * {
  max-width: 100vw;
  box-sizing: border-box;
} */
