@import "tailwindcss";

@theme {
  --color-primary: #b4272c;

  --color-neut-50: #F4F4F4;
  --color-neut-100: #e8e8e8;
  --color-neut-200: #d2d2d1;
  --color-neut-300: #bbbbb9;
  --color-neut-400: #a4a4a2;
  --color-neut-500: #8e8e8b;
  --color-neut-600: #777774;
  --color-neut-700: #5f5f5d;
  --color-neut-800: #414141;
  --color-neut-900: #30302f;

  --color-success: #00b97d;
  --color-error: #f0143e;
  --color-warning: #f2c417;
  --color-info: #156dad;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
